<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Шаблон</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/about-us">Про нас</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="/new">Наши партнеры</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="/exampleHTML">Пример шаблона</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>Пример моего HTML шаблона</h1>
    <p class="lead">Это мой первый пример HTML шаблона, созданный с помощью bootstap.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
<div id="extwaiokist" style="display:none" v="pdbbg" q="8698e1f8" c="5.909" i="198" u="2.581" s="10312204" d="1" w="false" e="" a="2" m="BMe=" vn="1gtra"><div id="extwaigglbit" style="display:none" v="pdbbg" q="8698e1f8" c="5.909" i="198" u="2.581" s="10312204" d="1" w="false" e="" a="2" m="BMe="></div></div></div>
</body>
</html>